.stepper{
    &__graph{
        margin-top:2rem;
        display: flex;
        justify-content: center;
        flex: 0;
    }
    &__divIcon{
        width: 50px;
        height: 10px;
        border-radius: 12px;
        margin:0 8px;
        background-color: white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.521);
    }
}