@import "../../styles/Import.scss";

.b-phrase {
  padding: 0%;
  color: $pale_turquoise;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 13pt;
}

.b-pickup {

  

  &__step-4 {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  &__icon--resume {
    color: $dark_red_wine;
    margin-bottom: 10px;

    &__last {
      color: $dark_red_wine;
      margin-bottom: 10px;
      margin-bottom: 4rem;
    }
  }
  &__icon {
    &--description {
      color: white;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      font-size: 13pt;
      margin-bottom: 4rem;
    }
  }
  &__resume {
    display: flex;
    align-items: left;
    padding: 0rem 2rem;
  }
  &__description {
    margin-top: 1rem;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 13pt;
  }
}
