@import "../../styles/Import.scss";

.b-title{
    padding: 0%;
    color: $pale_turquoise;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 13pt;
}
.b-error{
    width: 60%;
    text-align: center;
    margin: auto;

}
.b-pickup{
   
    &__div{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.3rem;
    }

    &__input{
        flex:1;
        margin-top: 1rem;
        margin-bottom: 7px;
        text-align: center;
        font-size: 1.4rem;
        height: 1.9rem;
        color: white;
        background-color: transparent;
        font-family: "Nunito", sans-serif;
        border-radius: 10px;
        border-width: 3px;
        border-color: $pale_turquoise;
        border-style: solid;
        outline: none;
        box-shadow: 1px 2px 4px rgb(63, 63, 62);
    }

    &__label{
        flex:1;
    }
    &__icon{
        font-size: 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        color: $dark_red_wine; 

        &__last{
            font-size: 2rem;
            margin-top: 1rem;
            margin-right: 1rem;
            margin-bottom: 3rem;
            color: $dark_red_wine;    
        }
    }

    

    &__buttonAdd{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        cursor:pointer;

    }
    &__recicle{
        width: 65%;
        margin: auto;
    }
}