@import "../../styles/Import.scss";

.b-pickup{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 64px);
  overflow-y: scroll;

  &__calendar{
    margin-top: 3rem;

  }
  &__left{
    margin-top: 0.5rem;
    display: flex;
    width: 80%;
    cursor: pointer;
    ;
    
  }
}
.b-button{
  margin-bottom:1rem;
  background-color: white;
  color: $dark_turquoise;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border-radius: 15px;
  border-color: $light_turquoise;
  border-style: solid;
  font-size: 11pt;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
}

.b-button:hover{
  margin-bottom:1rem;
  background-color: $dark_turquoise;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border-radius: 15px;
  border-color: $light_turquoise;
  border-style: solid;
  font-size: 11pt;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
}


.myClassname,
.react-datepicker__header ,
.react-datepicker {
  font-family: 'Nunito', sans-serif;
  border: none;
  background-color: white !important;
  outline: none;
  width: 350px
}
.myClassname,
.react-datepicker__month {
    background-color: $pale_turquoise;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border-radius: 8px;
}

.myClassname,
.react-datepicker__day--selected {
  background-color: $red_wine !important;
  outline: none;
}

/* Styles for On Hover of selected */
.myClassname,
.react-datepicker__day--selected:hover {
  background-color: $red_wine !important;
  color: whitesmoke !important;
  font-weight: lighter !important;
  font-size: 15pt !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.493);
  outline: none;
}

.myClassname,
.react-datepicker__header {
  background-color: $medium_turquoise;
  border-color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  outline: none;
}

.myClassname,
.react-datepicker__day-names {
  font-weight: 700;
  color: $dark_turquoise;
  outline: none;
}

.myClassname,
.react-datepicker__day--today {
  border-radius: 0.5rem;
  background: $medium_turquoise;
  box-shadow: 1px 2px 3px rgba(136, 135, 135, 0.493);
  color: whitesmoke !important;
  outline: none;
}

.myClassname,
.react-datepicker__navigation--previous {
  left: 10px !important;
  border-left-color: $dark_red_wine;
}

.myClassname,
.react-datepicker__navigation--next {
  border-left-color: $dark_red_wine;
}

.myClassname,
.react-datepicker__time-name{
  width: 0px !important;
  font-family: 'Nunito', sans-serif;
  color: $red_wine;
}
.myClassname,
.react-datepicker__day-name,
.react-datepicker__day
 {
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Nunito', sans-serif;
  color:rgb(6, 69, 80);
  font-weight: bold;
  font-size: 14pt;

}