@import '../../styles/Import.scss';

.register{
  display: flex;
  align-items: center;
  flex-direction: column;
  // background: linear-gradient(to bottom, #2c646e, #68a1a1);

  &__h2{
    font-family: 'Nunito', sans-serif;
    margin-bottom: -10px;
    padding: 0.5rem 0rem;
  }

  &__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    &__label{
      padding: 0.7rem 1.8rem;
    }
    &__input{
      width: 17rem;
      height: 1.9rem;
      background-color: transparent;
      color: white;
      padding-left: 1rem;
      font-family: 'Nunito', sans-serif;
      font-size: 11pt;
      border-radius: 15px;
      border-radius: 7px;
      border-color: $pale_turquoise;
      border-style: solid;
      outline: none;

      &::placeholder{
        color: white;
        font-family: 'Nunito', sans-serif, 400;
        opacity: 0.8;
        outline: none;
      }
    }

    &__button{
      margin-top: 0.5rem;
      background-color: white;
      color: $dark_turquoise;
      padding: 0.5rem 2rem;
      border-radius: 15px;
      border-radius: 15px;
      border-color: $light_turquoise;
      border-style: solid;
      font-size: 11pt;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      outline: none;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
    }

    &__button:hover{
      margin-top: 0.5rem;
      background-color: $dark_turquoise;
      color: white;
      padding: 0.5rem 2rem;
      border-radius: 15px;
      border-radius: 15px;
      border-color: white;
      border-style: solid;
      font-size: 11pt;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      outline: none;
    }

    &__error{
      align-items: center;
      margin-left: 0.6rem;
      padding: 0rem 1.5rem;
      font-size: 10pt;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
      color: $pale_turquoise;
    }
  }

}
