@import "../../styles/Import.scss";
.b-pickup {
  &__card {
    display: flex;
    align-items: center;
  }
  &__radio {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  &__radio:hover input ~ .check {
    height: 20px;
    width: 20px;
    background-color: $red_wine;
    border: 1px solid whitesmoke;
    border-radius: 50%;
  }

  &__radio input:checked ~ .check {
    height: 20px;
    width: 20px;
    background-color: $dark_turquoise;
    border: 1px solid whitesmoke;
    border-radius: 50%;
  }
  &__directions {
    font-family: "Nunito", sans-serif;
    font-size: 12pt;
    margin-left: 1rem;
    margin-bottom: 20px;
  }
  &__add {
    font-family: "Nunito", sans-serif;
    font-size: 14pt;
    margin-bottom: 20px;
    color: $pale_turquoise;
    font-weight: bold;
    cursor: pointer;
  }
  &__addform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__addform-input {
    width: 17rem;
    height: 1.9rem;
    margin-bottom: 20px;
    background-color: $dark_turquoise;
    color: white;
    background-color: transparent;
    padding-left: 1rem;
    font-family: "Nunito", sans-serif;
    font-size: 11pt;
    border-radius: 15px;
    border-radius: 7px;
    border-color: $pale_turquoise;
    border-style: solid;
    outline: none;

    &::placeholder {
      color: white;
      font-family: "Nunito", sans-serif, 400;
      opacity: 0.8;
      outline: none;
    }
  }
}

.b-button {
  background-color: white;
  color: $dark_turquoise;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border-radius: 15px;
  border-color: $light_turquoise;
  border-style: solid;
  font-size: 11pt;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  margin-bottom: 20px;
}

.b-button:hover {
  background-color: $dark_turquoise;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  font-size: 11pt;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  outline: none;
  margin-bottom: 20px;
}
.pickup_container {
  // flex: 1;
  // overflow-y: scroll;
  width: 80%;

  &__title {
    padding: 0%;
    color: $pale_turquoise;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 13pt;
  }

  &__array{
    width: 80%;
    padding: 0rem 2rem;
  }
}
