@import '../../styles/Import.scss';

.title-carousel{
    font-size: 17pt;
    margin-bottom: 0.4rem;
}
.swiper-slide {
    width: 175px !important;
    margin-right: 20px;
}

.b-carrousel{
    display:flex;
    overflow-x: scroll;
    &__card{
        margin-right: 1rem;
        position: relative;
    }
    &__image{
        width: 175px;
        height: 165px;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        border-radius: 15px;
    }
    &__divphrase{
        text-align: center;
        background-color: $red_wine;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.493); 
        width: 175px;
        height: 25px;
        font-size: 11pt;
        top:60%;
        margin-top: 0.15rem;
        position: absolute;
        
        
    }
}
.data-image{
    
    width: 175px;
    height: 165px;
    padding: 0;
    margin: 0;

     

            &__divphrase{
                text-align: center;
                background-color: $red_wine;
                box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.493); 
                width: 175px;
                height: 25px;
                position: absolute;

                    &__h3{
                        font-size: 11pt;
                        margin-top: 0.15rem;
                    }
            }
}