.splash{
    //display: flex;
    //align-items: center;
    //align-content: center;
    margin-top: 21rem;
    margin-left: 4.5rem;

        &__icon{
            width: 220px;
        }
        &__icon2{
            width: 52px;
            margin-left: 3px;
            animation: spin 2s linear infinite;

            @keyframes spin{
                from { transform: rotate(0deg); }
                to {transform: rotate(360deg);}
            }
        }
}

