@import '../../styles/Import.scss';

.b-hour{
    &__container{
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        display: flex;
        justify-content: center;
        max-width: 400px;
    }
    &__row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__hour{
        background-color: transparent;
        font-family: 'Nunito', sans-serif;
        color: whitesmoke;
        border-style: none;
        margin: 0.1rem 0;
        font-size: 4rem;
        font-weight: bold;
        width: 100px;
        text-align: center;
    }
    &__icon{
        font-size: 1.5rem;
        color: $red_wine;
    }
}