@import '../../styles/Import.scss';
.navbar {
    display: flex;
    width: 100%;
    z-index: 1;
    bottom: 0;
    position: fixed;
    

    &__chariot{
        height: 20px;
        width: 20px;
        background-color: blueviolet;
        content: "1";
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
    }
    &__container {
        display: flex;
        flex-direction: row;
        padding: 0rem 2rem;
        align-items: center;
        justify-content: space-between;
        background-color: $dark_turquoise;
        height: 4rem;
        width: 100%;

        &__group {

            position: relative;

            &__icon {
                text-decoration: none;
                width: 45px;
                padding: 0 0.9rem;
                align-items: center;
            }

            &__icon--active {
                text-decoration: none;
                width: 45px;
                padding: 0 0.9rem;
                align-items: center;
            }
        }
    }
}
