@import "../../styles/Import.scss";

.b-modal {

  &__button {
    margin-top: 1.3rem;
    background-color: white;
    color: $dark_turquoise;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border-color: $light_turquoise;
    border-style: solid;
    font-size: 11pt;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  }

  &__icon {

    font-size: 2rem;
    color:cadetblue;
    margin-right: 1rem;

    &--circle{
      color: brown;
      font-size: 0.8rem;
      margin-right: 0.5rem;
    }
  }
}



.generic-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 10;
  color: blue;
  align-items: center;
  justify-content: center;


}

/*
  Para poder animar la apertura de la modal le ponemos ancho/alto 0
  Cuando se abre ocupa su ancho/alto correspondiente y se le da opacidad
  */
.generic-modal-wrapper--opened {
  height: 100%;
  opacity: 1;
  transition: opacity 200ms ease-in-out 100ms;
  width: 100%;
}
.generic-modal-window-message1{
  color: #358883;
  font-size: 1.5rem;
  text-align: center;
}
.generic-modal-window-message2{
  
  color: #358883;
  font-size: 1.2rem;
  text-align: center;
  margin-top:1rem
}


.generic-modal-window {
  border-radius: 24px;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  height: 200px;
  // margin: auto 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  // width: 400px;
  width: 80%;
  animation: fadeIn 500ms ease-in-out 1;
  transform: scale(0.7);
  animation-fill-mode: forwards;
  @media (--desktop) {
    height: auto;
    width: 300px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform:scale(1);
  }
}

.generic-modal-window-header {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.generic-modal-window-title {
  flex: 1 1 auto;
  text-align: center;
}

.generic-modal-window-message {
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: teal;

}


.generic-modal-window-icon {
  border: 0;
  display: flex;
  height: 20px;
  margin-left: auto;
  position: relative;
  width: 20px;
}

.generic-modal-window-icon::before {
  content: "X";
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  padding: 2px;
  text-align: center;
  top: 0;
  width: 20px;
  background-color: var(--warning-color);
}
