@import '../../styles/Import.scss';

.home{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background: linear-gradient(to bottom , $dark_turquoise, $medium_turquoise);
    padding: 1rem 1.4rem;
}