@import "../../styles/Import.scss";

.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;

  &__card {
    padding: 0;
    width: 84%;

    &__lottie{
      position: relative;
    }

    &__title {
      font-size: 19pt;
      margin-bottom: 35px;
    }

    &__white {
      margin-top: -7px;
      margin-bottom: 4rem;
      background-color: white;
      color: $dark_turquoise;
      padding: 0;
      border-radius: 15px;
      height: 100%;
      box-shadow: 2px 7px 10px rgba(82, 80, 80, 0.493);

      &__img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: center;
      }

      &__description {
        padding: 0rem 1.2rem;
        font-weight: bold;
        text-align: justify;
        font-size: 11pt;
      }

      &__donation {
        padding: 0rem 3rem;
        font-weight: bold;
        color: $medium_turquoise;

        &__span {
          color: $red_wine;
        }
      }

      &__button-donate {
        padding: 0.7rem 1.8rem;

        &__btn {
          background-color: $red_wine;
          color: white;
          padding: 0.5rem 2rem;
          border-radius: 15px;
          border-radius: 15px;
          border-color: $dark_red_wine;
          border-style: solid;
          font-size: 12pt;
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          outline: none;
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
        }

        &__button:hover {
          background-color: white;
          color: $red_wine;
          padding: 0.5rem 2rem;
          border-radius: 15px;
          border-radius: 15px;
          border-color: $dark_red_wine;
          border-style: solid;
          font-size: 12pt;
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          outline: none;
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
        }
      }

      &__shadow-button {
        padding: 0.5rem 1.8rem;

        &__btn {
          width: 25%;
        }
      }
    }
  }

  &__btn-goback {
    // height: 40%;
    width: 100%;
    display: flex;
    padding: 1rem 1rem;
    // align-items: left;
    // align-self: left;
    // margin-right: 17rem;
    // margin-top: 25px;
    // margin-bottom: -20px;

    &__btn{
        background-color: transparent;
        border: none;
        color: white;
        font-size: 19pt;
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        margin-left: -30px;
        margin-bottom: -10px;
        margin-top: 10px;

        &__span{
            width: 7%;
            margin-right: 9px;
        }
    }
  }

  &__light-bulb{
    padding: 0;
    width: 84%;

    &__h2{
      font-size: 19pt;
    }

    &__card{
      margin-top: -5px;
      padding: 0;
      height: 70%;
      background-color: $red_wine;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 5px;
      margin-bottom: 13%;
      box-shadow: 2px 7px 10px rgba(82, 80, 80, 0.493);

      &__img{
        width: 97%;
        height: 180px;
        border-width: 5px;
        border-style: solid;
        border-color: $red_wine;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-size: contain;

        &__div{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: -7px;
          height: 45px;

          &__h3{
            margin-bottom: 8%;
          }
        }
      }
    }
  }
}
.b-lottie{
  position: absolute;
  top: 10%;
}
