@import '../../styles/Import.scss';

.modal {
    margin-top: 20px;
    margin-bottom: -7px;
    padding: 0;
    align-items: center;
    // width: 370px;

    &__svg{
        // width: 370px;
        width: 100%;
        height: 50px;
    }

    &__window{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 7px 10px rgba(82, 80, 80, 0.493);

        &__title{
            width: 100%;
            padding: 0.4rem 1rem;
            text-align: center;

            &__h2{
                color: $medium_turquoise;
                margin-bottom: -13px;
            }

            &__h3{
                color: $red_wine;
            }
        }

        &__diagram{
            color: black;
        }

        &__list{
            width: 100%;
            padding: 0.4rem 1rem;
            text-align: center;

            &__h3{
                font-size: 15pt;
                color: $red_wine;
                text-decoration: underline;
                margin-bottom: 6px;

            }

            &__ul{
                list-style: none;
                color: $dark_turquoise;
                text-align: center;
                padding: 0;

                &__li{
                    margin-bottom: 3px;
                    font-size: 12.5pt;
                    font-weight: bold;
                }
            }
        }

        &__list2{
            
            width: 100%;
            padding: 0rem 1rem;
            text-align: center;

            &__h2{
                color: $medium_turquoise;
                margin-top: -0.5px;

                &__img{
                    height: 30px;
                    padding-left: 7px;
                }
            }

            &__ul{
                padding: 0rem 2.2rem;
                color: $dark_turquoise;
                text-align: justify;

                &__li{
                    margin-bottom: 3px;
                    font-size: 12pt;
                    font-weight: bold;

                    &__span{
                        color: $red_wine;
                    }
                }
            }
        }

        &__images{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding-left: 0.7rem;


            &__images2{
                margin: 0;
                padding: 0;
                

                &__img{
                    width: 170px;
                    height: 160px;
                    background-size: cover;
                    border-radius: 15px;
                    margin-right: 10px;
                }
            }

        }

        &__close-button{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.7rem 0rem;

            &__button{
                
                width: 90px;
            }
        }
    }
}