@import "../../styles/Import.scss";

.form-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;

  &__btn-goback {
    height: 40%;
    width: 100%;
    display: flex;
    padding: 1rem 1rem;
    // align-items: left;
    // align-self: left;
    // margin-right: 17rem;
    // margin-top: 25px;
    // margin-bottom: -20px;

    &__btn{
      background-color: transparent;
      border: none;
      color: white;
      font-size: 19pt;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      margin-left: -30px;
      margin-bottom: -10px;
      margin-top: 10px;

      &__span{
          width: 7%;
          margin-right: 9px;
      }
  }
  }
  &__h2 {
    align-items: center;
    font-family: "Nunito", sans-serif;
    margin-bottom: -10px;
    padding: 0.5rem 0rem;

    &__span {
      width: 8%;
      margin-right: 10px;
    }
  }

  &__form {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;

    &__money {
      text-align: right;
      width: 90%;
      margin-bottom: 15px;

      &__label {
        padding: 0.7rem 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__input {
          width: 40%;
          height: 50px;
          background-color: transparent;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 20pt;
          font-weight: bold;
          text-align: right;
          padding-right: 1rem;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;
        }
        &__span€ {
          margin-left: 10px;
          font-size: 25pt;
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          text-align: left;
        }
      }
    }

    &__label {
      padding: 0.5rem 1rem;
    }
    &__input {
      width: 19rem;
      height: 1.9rem;
      background-color: transparent;
      color: white;
      padding-left: 1rem;
      font-family: "Nunito", sans-serif;
      font-size: 11pt;
      border-radius: 15px;
      border-radius: 7px;
      border-color: $pale_turquoise;
      border-style: solid;
      outline: none;

      &::placeholder{
        color: white;
        font-family: 'Nunito', sans-serif, 400;
        opacity: 0.8;
        outline: none;
      }
    }

    &__many {
      width: 90%;
      margin-top: 10px;
      margin-bottom: 10px;

      &__label {
        padding: 0.7rem 0.5rem;

        &__input-cd {
          width: 22%;
          height: 1.9rem;
          background-color: transparent;
          padding-left: 1rem;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 11pt;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;

          &::placeholder{
            color: white;
            font-family: 'Nunito', sans-serif, 400;
            opacity: 0.8;
            outline: none;
          }
        }

        &__input-poblation {
          width: 50%;
          height: 1.9rem;
          background-color: transparent;
          padding-left: 1rem;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 11pt;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;

          &::placeholder{
            color: white;
            font-family: 'Nunito', sans-serif, 400;
            opacity: 0.8;
            outline: none;
          }
        }

        &__input-date {
          width: 12%;
          height: 1.9rem;
          background-color: transparent;
          padding-left: 1rem;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 11pt;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;

          &::placeholder{
            color: white;
            font-family: 'Nunito', sans-serif, 400;
            opacity: 0.8;
            outline: none;
          }
        }

        &__input-year {
          width: 18%;
          height: 1.9rem;
          background-color: transparent;
          padding-left: 1rem;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 11pt;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;

          &::placeholder{
            color: white;
            font-family: 'Nunito', sans-serif, 400;
            opacity: 0.8;
            outline: none;
          }
        }

        &__input-cvv {
          width: 18%;
          height: 1.9rem;
          background-color: transparent;
          padding-left: 1rem;
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 11pt;
          border-radius: 15px;
          border-radius: 7px;
          border-color: $pale_turquoise;
          border-style: solid;
          outline: none;

          &::placeholder{
            color: white;
            font-family: 'Nunito', sans-serif, 400;
            opacity: 0.8;
            outline: none;
          }
        }
      }
    }


    &__button{
        margin-top: 2rem;
        background-color: white;
        color: $dark_turquoise;
        padding: 0.5rem 2rem;
        border-radius: 15px;
        border-radius: 15px;
        border-color: $light_turquoise;
        border-style: solid;
        font-size: 11pt;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        outline: none;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
      }
  
      &__button:hover{
        margin-top: 2rem;
        background-color: $dark_turquoise;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 15px;
        border-radius: 15px;
        border-color: white;
        border-style: solid;
        font-size: 11pt;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        outline: none;
      }
  }
}
