@import "../../styles/Import.scss";

.b-pickUp {
  &__sptep1 {
    margin: 0;
  }
  
  &__calendar {
    margin-top: 1rem;
  }
}

.b-pickup__title {
  padding: 0%;
  color: $pale_turquoise;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 13pt;
}

.myClassname,
.react-datepicker__header,
.react-datepicker {
  font-family: 'Nunito', sans-serif;
  border: none;
  background-color: white !important;
  border-radius: 20px !important;
  outline: none;
  width: 350px
}
.myClassname,
.react-datepicker__month {
    background-color: $pale_turquoise;
    font-family: 'Nunito', sans-serif;
    outline: none;
    border-radius: 8px;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.myClassname,
.react-datepicker__day--selected {
  background-color: $red_wine !important;
  outline: none;
}

/* Styles for On Hover of selected */
.myClassname,
.react-datepicker__day--selected:hover {
  background-color: $red_wine !important;
  color: whitesmoke !important;
  font-weight: lighter !important;
  font-size: 15pt !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.493);
  outline: none;
}

.myClassname,
.react-datepicker__header {
  background-color: $medium_turquoise;
  border-color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  outline: none;
}

.myClassname,
.react-datepicker__day-names {
  font-weight: 700;
  color: $dark_turquoise;
  outline: none;
}

.myClassname,
.react-datepicker__day--today {
  border-radius: 0.5rem;
  background: $medium_turquoise;
  box-shadow: 1px 2px 3px rgba(136, 135, 135, 0.493);
  color: whitesmoke !important;
  outline: none;
}

.myClassname,
.react-datepicker__navigation--previous {
  left: 10px !important;
  border-left-color: $dark_red_wine;
}

.myClassname,
.react-datepicker__navigation--next {
  right: -70px;
  border-left-color: $dark_red_wine;
}

.myClassname,
.react-datepicker__time-name {
  width: 0px !important;
  font-family: 'Nunito', sans-serif;
  color: $red_wine;
}
.myClassname,
.react-datepicker__day-name,
.react-datepicker__day {
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Nunito', sans-serif;
  color:rgb(6, 69, 80);
  font-weight: bold;
  font-size: 14pt;
}
