@import '../../styles/Import.scss';

.title{
    font-size: 17pt;
    margin-bottom: 0.4rem;
}

.image{
    display: flex;
    align-items: center;
    width: 100%;
    height: 214px;
    background-image: url(../../Images/donde_reciclar.jpg);
    background-size: cover;
    border-radius: 15px;
    padding: 0;
    margin-bottom: 5rem;

    &__divphrase{
        text-align: center;
        background-color: $red_wine;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.493); 
        width: 371px;
        height: 30px;
        margin-top: 8rem;


        &__h3{
            font-size: 12pt;
            margin-top: 0.3rem;
        }
    }
}
