@import "../../styles/Import.scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100vh;

  &__h2 {
    font-family: "Nunito", sans-serif;
    color: white;
    margin-top: 8rem;
    margin-bottom: 0;
    font-size: 23pt;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 2rem;

    &__label {
      padding: 0.7rem 1.8rem;
    }
    &__input {
      width: 17rem;
      height: 1.9rem;
      background-color: $dark_turquoise;
      color: white;
      background-color: transparent;
      padding-left: 1rem;
      font-family: "Nunito", sans-serif;
      font-size: 11pt;
      border-radius: 15px;
      border-radius: 7px;
      border-color: $pale_turquoise;
      border-style: solid;
      outline: none;

      &::placeholder {
        color: white;
        font-family: "Nunito", sans-serif;
        opacity: 0.8;
        outline: none;
      }
    }
    &__button {
      margin-top: 1.3rem;
      background-color: white;
      color: $dark_turquoise;
      padding: 0.5rem 2rem;
      border-radius: 15px;
      border-radius: 15px;
      border-color: $light_turquoise;
      border-style: solid;
      font-size: 11pt;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      outline: none;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
    }

    &__button:hover {
      margin-top: 1.3rem;
      background-color: $dark_turquoise;
      color: white;
      padding: 0.5rem 2rem;
      border-radius: 15px;
      border-radius: 15px;
      border-color: white;
      border-style: solid;
      font-size: 11pt;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      outline: none;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
    }

    &__error {
      align-items: center;
      margin-left: 0.6rem;
      padding: 0rem 1.5rem;
      font-size: 10pt;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      color: $pale_turquoise;
    }
  }

  &__icon-reciclo{
    margin-top: 4rem;

    &__icon-recicl {
      width: 150px;
    }
    &__icon2 {
      width: 35px;
      margin-left: 3px;
      animation: spin 2s linear infinite;
  
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
.register {
  &__link {
    margin-top: 1.3rem;
    background-color: $light_turquoise;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border-radius: 15px;
    border-color: $pale_turquoise;
    border-style: solid;
    font-size: 11pt;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  }

  &__link:hover {
    margin-top: 1.3rem;
    background-color: $dark_turquoise;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 11pt;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  }
}
