@import "../../styles/Import.scss";

.b-maps{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    align-items: center;
    width: 100%;
}
.b-button-map{
    margin-bottom:1rem;
    background-color: white;
    color: $dark_turquoise;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border-radius: 15px;
    border-color: $light_turquoise;
    border-style: solid;
    font-size: 11pt;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
    margin-top: 1rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
  }

