@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import "./styles/Import.scss";

body{


  
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, $dark_turquoise, $medium_turquoise);
  font-family: 'Nunito', sans-serif;
  color: white;
  // max-height: calc(100vh - 64px);
}
.App {
  // height: calc(100vh - 64px);
}