@import '../../styles/Import.scss';

.top-container{
    display: flex;
    justify-content: space-between;

    &__label{
        position: absolute;
    }

    &__divPhoto{
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        margin-right: 5rem;
       

        &__button{
            position: absolute;
        }

        &__img{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            // background-size: cover;
            object-fit: cover;
            object-position: center;
           
            &--glow{
                box-shadow: 0px 0px 40px 15px rgba(111, 172, 167,1);

            }
        }

        &__input{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

    }

    &__divPhoto2{
        margin-top: 10px;
        margin-left: 12px;

        &__label{
            margin-top: 30px;
            background-color: white;
            color: $dark_turquoise;
            padding: 0.3rem 0.7rem;
            border-radius: 13px;
            border-color: $light_turquoise;
            border-style: solid;
            font-size: 9pt;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            outline: none;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
        }

        &__label:hover{
            margin-top: 30px;
            background-color: $dark_turquoise;
            color: white;
            padding: 0.3rem 0.7rem;
            border-radius: 13px;
            border-color: white;
            border-style: solid;
            font-size: 9pt;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            outline: none;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.493);
        }
    }

    &__divUser{
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        &__logo{
            width: 180px;
        }

        &__h3{
            font-size: 12pt;
        }
    }
}